## Portfolio 1 - Diamonds Dataset 
#### Rawan Alqarni

##### 1- Import all the needed libraries: numpy, pandas and seaborn

In [19]:
# libraries
import numpy as np
import pandas as pd
import seaborn as sns

##### 2- read the diamoinds dataset

In [20]:
# import the data
df_diamonds = pd.read_csv("data/diamonds.csv")

##### 3- Diamonds Analysis

##### 1- Explore the data using pandas method on the dataFrame called "df_diamonds"

In [21]:
# Explore the DataFrame
df_diamonds.info()
df_diamonds.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [22]:
# How many rows and columns?
df_diamonds.shape

(53940, 10)

In [23]:
print(df_diamonds.columns) #columns names 
df_diamonds.index   #rows range

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

RangeIndex(start=0, stop=53940, step=1)

In [24]:
# show a summary statistics of the numerical variables: carat, depth, table, price, x, y, z
df_diamonds.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [25]:
#In here I created a dictianory that consists of col name as keys:the datatype in that column as values 
# to explore the data type we have 
{col:df_diamonds[col].dtype.name for col in df_diamonds}

{'carat': 'float64',
 'cut': 'object',
 'color': 'object',
 'clarity': 'object',
 'depth': 'float64',
 'table': 'float64',
 'price': 'int64',
 'x': 'float64',
 'y': 'float64',
 'z': 'float64'}

In [26]:
# count values in categorical columns which are >> cut , color, clarity
{ col:df_diamonds[col].value_counts() for col in df_diamonds if df_diamonds[col].dtype.name == 'object'}

{'cut': Ideal        21551
 Premium      13791
 Very Good    12082
 Good          4906
 Fair          1610
 Name: cut, dtype: int64,
 'color': G    11292
 E     9797
 F     9542
 H     8304
 D     6775
 I     5422
 J     2808
 Name: color, dtype: int64,
 'clarity': SI1     13065
 VS2     12258
 SI2      9194
 VS1      8171
 VVS2     5066
 VVS1     3655
 IF       1790
 I1        741
 Name: clarity, dtype: int64}

##### 2- Find some specific information in the dataset

- Explore carat column

In [36]:
print(df_diamonds.carat.mode()) # the most frequent weight
df_diamonds.carat.mean() #average diamonds weight

0    0.3
dtype: float64

0.7979397478680014

In [46]:
# range of diamonds weight
min_val=df_diamonds.carat.min()
max_val=df_diamonds.carat.max()
print(f"Range of diamonds weight: {min_val} - {max_val}")

Range of diamonds weight: 0.2 - 5.01

- Explore cut

In [53]:
#how many cut category we have
df_diamonds.cut.unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [49]:
#how many observation per cut category 
df_diamonds.cut.value_counts()

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

- Explore color

In [54]:
#how many color  we have
df_diamonds.color.unique()

array(['E', 'I', 'J', 'H', 'F', 'G', 'D'], dtype=object)

In [55]:
#how many observation per color  
df_diamonds.color.value_counts()

G    11292
E     9797
F     9542
H     8304
D     6775
I     5422
J     2808
Name: color, dtype: int64

- Explore clarity column

In [57]:
#how many color  we have
df_diamonds.clarity.unique()

array(['SI2', 'SI1', 'VS1', 'VS2', 'VVS2', 'VVS1', 'I1', 'IF'],
      dtype=object)

In [56]:
#how many observation per cut category 
df_diamonds.clarity.value_counts()

SI1     13065
VS2     12258
SI2      9194
VS1      8171
VVS2     5066
VVS1     3655
IF       1790
I1        741
Name: clarity, dtype: int64

In [61]:
# How many diamonds with a clarity of most frequent category are present in the data-set?
clarity_SI1 = df_diamonds.clarity == "SI1"
sum(clarity_SI1)

13065

In [64]:
# What fraction of the total do SI1 represent?
total = df_diamonds['clarity'].value_counts().sum()
print(f'SI1 represent from the total: {sum((clarity_SI1)/total)*100}')

SI1 represent from the total: 24.221357063412412

- Explore depth column

In [90]:
print(f'Average depth : {df_diamonds.depth.mean()}') #average diamonds depth 
print(f'Most frequent depth : {df_diamonds.depth.mode()}') # most frequent depth

Average depth : 61.749404894327036
Most frequent depth : 0    62.0
dtype: float64

- Explore table

In [91]:
df_diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E       z   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E       z   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E       z   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I       z   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J       z   63.3   58.0    335  4.34  4.35  2.75

- Explore price column

In [30]:
# What is the cheapest diamond price overall?
min(df_diamonds.price)

326

In [31]:
# What is the range of diamond prices?
range_price = max(df_diamonds.price) - min(df_diamonds.price)
print(range_price)

18497

In [32]:
# What is the average diamond price in each category of cut and color?
df_diamonds.groupby(['cut', 'color'])['price'].mean()

cut        color
Fair       D        4291.061350
           E        3682.312500
           F        3827.003205
           G        4239.254777
           H        5135.683168
           I        4685.445714
           J        4975.655462
Good       D        3405.382175
           E        3423.644159
           F        3495.750275
           G        4123.482204
           H        4276.254986
           I        5078.532567
           J        4574.172638
Ideal      D        2629.094566
           E        2597.550090
           F        3374.939362
           G        3720.706388
           H        3889.334831
           I        4451.970377
           J        4918.186384
Premium    D        3631.292576
           E        3538.914420
           F        4324.890176
           G        4500.742134
           H        5216.706780
           I        5946.180672
           J        6294.591584
Very Good  D        3470.467284
           E        3214.652083
           F        3778.820240
           G        3872.753806
           H        4535.390351
           I        5255.879568
           J        5103.513274
Name: price, dtype: float64

- Explore x, y, z columns

- Find Missing values

In [33]:
# find missing values 
df_diamonds.isnull().sum()
# no missing values GREAT

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

GREAT, no missing values to handle

##### 4- Data Visualizations

In [34]:
# Visualizations